
@font-face {
    font-family: 'Mont';
    src: url('Mont-Regular.woff2') format('woff2'),
        url('Mont-Regular.woff') format('woff'),
        url('Mont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mont-Thin';
    src: url('Mont-Thin.woff2') format('woff2'),
        url('Mont-Thin.woff') format('woff'),
        url('Mont-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Mont-ExtraLight';
    src: url('Mont-ExtraLight.woff2') format('woff2'),
        url('Mont-ExtraLight.woff') format('woff'),
        url('Mont-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Mont-Light';
    src: url('Mont-Light.woff2') format('woff2'),
        url('Mont-Light.woff') format('woff'),
        url('Mont-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Mont Book';
    src: url('Mont-Book.woff2') format('woff2'),
        url('Mont-Book.woff') format('woff'),
        url('Mont-Book.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Mont-SemiBold';
    src: url('Mont-SemiBold.woff2') format('woff2'),
        url('Mont-SemiBold.woff') format('woff'),
        url('Mont-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Mont-Black';
    src: url('Mont-Black.woff2') format('woff2'),
        url('Mont-Black.woff') format('woff'),
        url('Mont-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Mont-Bold';
    src: url('Mont-Bold.woff2') format('woff2'),
        url('Mont-Bold.woff') format('woff'),
        url('Mont-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


