<div class="main_board bg-gray">
    <header class="header_head">
        <div class="header_inner">
            <div class="head_logo align-left">
              <a href="#"><img src=" ../../../../../assets/images/logo.svg" alt="Logo-Img"/></a>
            </div>
            <div class="headuser_side align-right">
                <div class="header_menuicon">
                     <a id="show-sidebar" href="#" class="headertoggle_ico"><i class="fas fa-sliders-h"></i></a>
                </div>
                <div class="user_head_profile">
                     <div class="user_headname">
                        <span id="shows" (click)="clickShows($event);"><span>Hi</span>&nbsp;&nbsp;Scot deo<span class="name_short"><div>S</div></span></span>
                       
                            <div class="dropdown_Ulist" [attr.style]="toggle ? 'display: block;' : 'display : none;'">
                                <div class="wel_note_dropdown">Welcome!</div>
                                <a href="#"><i class="fas fa-user"></i><span>My profile</span> </a>
                                <a href="#"><i class="fas fa-cog"></i><span>Settings</span> </a>
                                <a href="#"><i class="far fa-calendar-alt"></i><span>Activity</span> </a>   
                                <a href="#"><i class="fas fa-power-off"></i><span>Logout</span> </a>
                            </div>
                     </div>
                     <!-- <div class="userimg_box">
                        <img src="images/user.jpg" alt="User-Icon"/>
                     </div> -->
                </div>
            </div>
        </div>
    </header><!--END Header-->
    <div class="main_board_inner">
        <div class="left_menubar chiller-theme toggled">
               <nav id="sidebar" class="sidebar-wrapper">
               <div class="sidebar-content">
                 <!-- sidebar-search  -->
                 <div class="sidebar-menu">
                   <ul>
                     <li class="header-menu">
                       <span>General</span>
                     </li>
                     <li class="sidebar-dropdown">
                       <a href="#">
                         <i class="fa fa-tachometer-alt"></i>
                         <span>Dashboard</span>
                       </a>
                       <div class="sidebar-submenu">
                         <ul>
                           <li>
                             <a href="#">Dashboard 1
                             </a>
                           </li>
                           <li>
                             <a href="#">Dashboard 2</a>
                           </li>
                           <li>
                             <a href="#">Dashboard 3</a>
                           </li>
                         </ul>
                       </div>
                     </li>
                     <li class="sidebar-dropdown">
                       <a href="#">
                         <i class="fa fa-shopping-cart"></i>
                         <span>E-commerce</span>
                       </a>
                       <div class="sidebar-submenu">
                         <ul>
                           <li>
                             <a href="#">Products

                             </a>
                           </li>
                           <li>
                             <a href="#">Orders</a>
                           </li>
                           <li>
                             <a href="#">Credit cart</a>
                           </li>
                         </ul>
                       </div>
                     </li>
                     <li class="sidebar-dropdown">
                       <a href="#">
                         <i class="far fa-gem"></i>
                         <span>Components</span>
                       </a>
                       <div class="sidebar-submenu">
                         <ul>
                           <li>
                             <a href="#">General</a>
                           </li>
                           <li>
                             <a href="#">Panels</a>
                           </li>
                           <li>
                             <a href="#">Tables</a>
                           </li>
                           <li>
                             <a href="#">Icons</a>
                           </li>
                           <li>
                             <a href="#">Forms</a>
                           </li>
                         </ul>
                       </div>
                     </li>
                     <li class="sidebar-dropdown">
                       <a href="#">
                         <i class="fa fa-chart-line"></i>
                         <span>Charts</span>
                       </a>
                       <div class="sidebar-submenu">
                         <ul>
                           <li>
                             <a href="#">Pie chart</a>
                           </li>
                           <li>
                             <a href="#">Line chart</a>
                           </li>
                           <li>
                             <a href="#">Bar chart</a>
                           </li>
                           <li>
                             <a href="#">Histogram</a>
                           </li>
                         </ul>
                       </div>
                     </li>
                     <li class="sidebar-dropdown">
                       <a href="#">
                         <i class="fa fa-globe"></i>
                         <span>Maps</span>
                       </a>
                       <div class="sidebar-submenu">
                         <ul>
                           <li>
                             <a href="#">Google maps</a>
                           </li>
                           <li>
                             <a href="#">Open street map</a>
                           </li>
                         </ul>
                       </div>
                     </li>
                     <li class="header-menu">
                       <span>Extra</span>
                     </li>
                     <li>
                       <a href="#">
                         <i class="fa fa-book"></i>
                         <span>Documentation</span>
                       </a>
                     </li>
                     <li>
                       <a href="#">
                         <i class="fa fa-calendar"></i>
                         <span>Calendar</span>
                       </a>
                     </li>
                     <li>
                       <a href="#">
                         <i class="fa fa-folder"></i>
                         <span>Examples</span>
                       </a>
                     </li>
                   </ul>
                 </div>
                 <!-- sidebar-menu  -->
               </div>
               </nav>
        </div><!-- END left Menubar -->
        <div class="work_space">
          <div class="workspace_title_hd">
            <div class="row">
              <div class="col-md-5">
                <div class="titleof_page">
                  <h2 class="main_title">Exclusive Experiences</h2>
                </div>
              </div>
              <div class="col-md-7">
              </div>
            </div>
          </div><!-- END title head -->
          <div class="gride_box_perent">
            <div class="row">
              <div class="col-md-4 small_margin_bottom">
                <div class="gridbox">
                  <div class="imag_titles">
                    <div class="img_title_left">
                      <div class="imag_bx">
                        <img src="../../../assets/images/experiences01.jpg" alt=""/>
                      </div>
                    </div>
                    <div class="img_title_right">
                      <h6 class="small_grayT">Skylist</h6>
                      <p>Knots of Compassion - Indulge In Art Of Hand-Knotted Rugs</p>
                    </div>
                  </div>
                  <div class="imag_titles_service">
                    <ul class="list_of_expservec">
                      <li>Khuri, Near Jaisalmer </li>
                      <li>Khuri, Near (45 KMS) </li>
                      <li>Jaisalmer (20 KMS) </li>
                    </ul>
                  </div>
                </div>
              </div><!-- END box 4 -->

              <div class="col-md-4 small_margin_bottom">
                <div class="gridbox">
                  <div class="imag_titles">
                    <div class="img_title_left">
                      <div class="imag_bx">
                        <img src="../../../assets/images/experiences02.jpg" alt=""/>
                      </div>
                    </div>
                    <div class="img_title_right">
                      <h6 class="small_grayT">Skylist</h6>
                      <p>Knots of Compassion - Indulge In Art Of Hand-Knotted Rugs Indulge In Art Of Hand-Knotted Rugs</p>
                    </div>
                  </div>
                  <div class="imag_titles_service">
                    <ul class="list_of_expservec">
                      <li>Khuri, Near Jaisalmer </li>
                      <li>Khuri, Near (45 KMS) </li>
                      <li>Jaisalmer (20 KMS) </li>
                    </ul>
                  </div>
                </div>
              </div><!-- END box 4 -->

              <div class="col-md-4 small_margin_bottom">
                <div class="gridbox">
                  <div class="imag_titles">
                    <div class="img_title_left">
                      <div class="imag_bx">
                        <img src="../../../assets/images/experiences01.jpg" alt=""/>
                      </div>
                    </div>
                    <div class="img_title_right">
                      <h6 class="small_grayT">Skylist</h6>
                      <p>Knots of Compassion - Indulge In Art Of Hand-Knotted Rugs</p>
                    </div>
                  </div>
                  <div class="imag_titles_service">
                    <ul class="list_of_expservec">
                      <li>Khuri, Near Jaisalmer </li>
                      <li>Khuri, Near (45 KMS) </li>
                      <li>Jaisalmer (20 KMS) </li>
                    </ul>
                  </div>
                </div>
              </div><!-- END box 4 -->

              <div class="col-md-4 small_margin_bottom">
                <div class="gridbox">
                  <div class="imag_titles">
                    <div class="img_title_left">
                      <div class="imag_bx">
                        <img src="../../../assets/images/experiences02.jpg" alt=""/>
                      </div>
                    </div>
                    <div class="img_title_right">
                      <h6 class="small_grayT">Skylist</h6>
                      <p>Knots of Compassion - Indulge In Art Of Hand-Knotted Rugs Indulge In Art Of Hand-Knotted RugsIndulge In Art Of Hand-Knotted Rugs</p>
                    </div>
                  </div>
                  <div class="imag_titles_service">
                    <ul class="list_of_expservec">
                      <li>Khuri, Near Jaisalmer </li>
                      <li>Khuri, Near (45 KMS) </li>
                      <li>Jaisalmer (20 KMS) </li>
                    </ul>
                  </div>
                </div>
              </div><!-- END box 4 -->

              <div class="col-md-4 small_margin_bottom">
                <div class="gridbox">
                  <div class="imag_titles">
                    <div class="img_title_left">
                      <div class="imag_bx">
                        <img src="../../../assets/images/experiences01.jpg" alt=""/>
                      </div>
                    </div>
                    <div class="img_title_right">
                      <h6 class="small_grayT">Skylist</h6>
                      <p>Knots of Compassion - Indulge In Art Of Hand-Knotted Rugs</p>
                    </div>
                  </div>
                  <div class="imag_titles_service">
                    <ul class="list_of_expservec">
                      <li>Khuri, Near Jaisalmer </li>
                      <li>Khuri, Near (45 KMS) </li>
                      <li>Jaisalmer (20 KMS) </li>
                    </ul>
                  </div>
                </div>
              </div><!-- END box 4 -->

              <div class="col-md-4 small_margin_bottom">
                <div class="gridbox">
                  <div class="imag_titles">
                    <div class="img_title_left">
                      <div class="imag_bx">
                        <img src="../../../assets/images/experiences01.jpg" alt=""/>
                      </div>
                    </div>
                    <div class="img_title_right">
                      <h6 class="small_grayT">Skylist</h6>
                      <p>Knots of Compassion - Indulge In Art Of Hand-Knotted Rugs</p>
                    </div>
                  </div>
                  <div class="imag_titles_service">
                    <ul class="list_of_expservec">
                      <li>Khuri, Near Jaisalmer </li>
                      <li>Khuri, Near (45 KMS) </li>
                      <li>Jaisalmer (20 KMS) </li>
                    </ul>
                  </div>
                </div>
              </div><!-- END box 4 -->

              <div class="col-md-4 small_margin_bottom">
                <div class="gridbox">
                  <div class="imag_titles">
                    <div class="img_title_left">
                      <div class="imag_bx">
                        <img src="../../../assets/images/experiences02.jpg" alt=""/>
                      </div>
                    </div>
                    <div class="img_title_right">
                      <h6 class="small_grayT">Skylist</h6>
                      <p>Knots of Compassion - Indulge In Art Of Hand-Knotted Rugs</p>
                    </div>
                  </div>
                  <div class="imag_titles_service">
                    <ul class="list_of_expservec">
                      <li>Khuri, Near Jaisalmer </li>
                      <li>Khuri, Near (45 KMS) </li>
                      <li>Jaisalmer (20 KMS) </li>
                    </ul>
                  </div>
                </div>
              </div><!-- END box 4 -->

              <div class="col-md-4 small_margin_bottom">
                <div class="gridbox">
                  <div class="imag_titles">
                    <div class="img_title_left">
                      <div class="imag_bx">
                        <img src="../../../assets/images/experiences01.jpg" alt=""/>
                      </div>
                    </div>
                    <div class="img_title_right">
                      <h6 class="small_grayT">Skylist</h6>
                      <p>Knots of Compassion - Indulge In Art Of Hand-Knotted Rugs</p>
                    </div>
                  </div>
                  <div class="imag_titles_service">
                    <ul class="list_of_expservec">
                      <li>Khuri, Near Jaisalmer </li>
                      <li>Khuri, Near (45 KMS) </li>
                      <li>Jaisalmer (20 KMS) </li>
                    </ul>
                  </div>
                </div>
              </div><!-- END box 4 -->

              <div class="col-md-4 small_margin_bottom">
                <div class="gridbox">
                  <div class="imag_titles">
                    <div class="img_title_left">
                      <div class="imag_bx">
                        <img src="../../../assets/images/experiences02.jpg" alt=""/>
                      </div>
                    </div>
                    <div class="img_title_right">
                      <h6 class="small_grayT">Skylist</h6>
                      <p>Knots of Compassion - Indulge In Art Of Hand-Knotted Rugs</p>
                    </div>
                  </div>
                  <div class="imag_titles_service">
                    <ul class="list_of_expservec">
                      <li>Khuri, Near Jaisalmer </li>
                      <li>Khuri, Near (45 KMS) </li>
                      <li>Jaisalmer (20 KMS) </li>
                    </ul>
                  </div>
                </div>
              </div><!-- END box 4 -->

              <div class="col-md-4 small_margin_bottom">
                <div class="gridbox">
                  <div class="imag_titles">
                    <div class="img_title_left">
                      <div class="imag_bx">
                        <img src="../../../assets/images/experiences01.jpg" alt=""/>
                      </div>
                    </div>
                    <div class="img_title_right">
                      <h6 class="small_grayT">Skylist</h6>
                      <p>Knots of Compassion - Indulge In Art Of Hand-Knotted Rugs</p>
                    </div>
                  </div>
                  <div class="imag_titles_service">
                    <ul class="list_of_expservec">
                      <li>Khuri, Near Jaisalmer </li>
                      <li>Khuri, Near (45 KMS) </li>
                      <li>Jaisalmer (20 KMS) </li>
                    </ul>
                  </div>
                </div>
              </div><!-- END box 4 -->
            </div>
          </div>
        </div><!--END work space-->
    </div><!-- END main Board Inner -->
</div>