<div class="main_board bg-gray">
  <header class="header_head">
    <div class="header_inner">
      <div class="head_logo align-left">
        <a href="#"><img src="../../../../assets/images/logo.svg" alt="Logo-Img" /></a>
      </div>
      <div class="headuser_side">
        <div class="header_menuicon">
          <a id="show-sidebar" href="#" class="headertoggle_ico"><i class="fas fa-sliders-h"></i></a>
        </div>
        <div class="user_head_profile">
          <div class="user_headname">
            <span id="shows"><span>Hi</span>&nbsp;&nbsp;Scot deo<span class="name_short">
                <div>S</div>
              </span></span>

            <div class="dropdown_Ulist" style="display: none;">
              <div class="wel_note_dropdown">Welcome!</div>
              <a href="#"><i class="fas fa-user"></i><span>My profile</span> </a>
              <a href="#"><i class="fas fa-cog"></i><span>Settings</span> </a>
              <a href="#"><i class="far fa-calendar-alt"></i><span>Activity</span> </a>
              <a href="#"><i class="fas fa-power-off"></i><span>Logout</span> </a>
            </div>
          </div>
          <!-- <div class="userimg_box">
                    <img src="images/user.jpg" alt="User-Icon"/>
                 </div> -->
        </div>
      </div>
    </div>
  </header>
  <!--END Header-->
  <div class="main_board_inner">
    <div class="left_menubar chiller-theme toggled">
      <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
          <!-- sidebar-search  -->
          <div class="sidebar-menu">
            <ul>
              <li class="header-menu">
                <span>General</span>
              </li>
              <li class="sidebar-dropdown">
                <a href="#">
                  <i class="fa fa-tachometer-alt"></i>
                  <span>Dashboard</span>
                </a>
                <div class="sidebar-submenu">
                  <ul>
                    <li>
                      <a href="#">Dashboard 1
                      </a>
                    </li>
                    <li>
                      <a href="#">Dashboard 2</a>
                    </li>
                    <li>
                      <a href="#">Dashboard 3</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="sidebar-dropdown">
                <a href="#">
                  <i class="fa fa-shopping-cart"></i>
                  <span>E-commerce</span>
                </a>
                <div class="sidebar-submenu">
                  <ul>
                    <li>
                      <a href="#">Products

                      </a>
                    </li>
                    <li>
                      <a href="#">Orders</a>
                    </li>
                    <li>
                      <a href="#">Credit cart</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="sidebar-dropdown">
                <a href="#">
                  <i class="far fa-gem"></i>
                  <span>Components</span>
                </a>
                <div class="sidebar-submenu">
                  <ul>
                    <li>
                      <a href="#">General</a>
                    </li>
                    <li>
                      <a href="#">Panels</a>
                    </li>
                    <li>
                      <a href="#">Tables</a>
                    </li>
                    <li>
                      <a href="#">Icons</a>
                    </li>
                    <li>
                      <a href="#">Forms</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="sidebar-dropdown">
                <a href="#">
                  <i class="fa fa-chart-line"></i>
                  <span>Charts</span>
                </a>
                <div class="sidebar-submenu">
                  <ul>
                    <li>
                      <a href="#">Pie chart</a>
                    </li>
                    <li>
                      <a href="#">Line chart</a>
                    </li>
                    <li>
                      <a href="#">Bar chart</a>
                    </li>
                    <li>
                      <a href="#">Histogram</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="sidebar-dropdown">
                <a href="#">
                  <i class="fa fa-globe"></i>
                  <span>Maps</span>
                </a>
                <div class="sidebar-submenu">
                  <ul>
                    <li>
                      <a href="#">Google maps</a>
                    </li>
                    <li>
                      <a href="#">Open street map</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="header-menu">
                <span>Extra</span>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-book"></i>
                  <span>Documentation</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-calendar"></i>
                  <span>Calendar</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-folder"></i>
                  <span>Examples</span>
                </a>
              </li>
            </ul>
          </div>
          <!-- sidebar-menu  -->
        </div>
      </nav>
    </div><!-- END left Menubar -->
    <div class="work_space">
      <div class="workspace_title_hd">
        <div class="row">
          <div class="col-md-5">
            <div class="titleof_page">
              <h2 class="main_title">Add Experience</h2>
            </div>
          </div>
          <div class="col-md-7">
            <div class="add_and_search">
              <div class="searchbar">
                <input type="text" class="fuild_text" placeholder="Search.." name="" />
              </div>
              <div class="buttonside_head small_margin_left">
                <button type="button" class="btn btn-primary btn_green">Add&nbsp;<i class="fas fa-plus"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div><!-- END title head -->
      <div class="form_fuild_perent small_margin_top">
        <div class="row">
          <div class="col-md-4">
            <div class="form_group">
              <label class="form_label">Title</label>
              <input type="text" class="fuild_text" name="" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form_group">
              <label class="form_label">State</label>
              <input type="text" class="fuild_text" name="" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form_group">
              <label class="form_label">City</label>
              <div class="dropdown_select">
                <div id="select_any_01" class="select_any fuild_text">Select</div>
                <ul id="dropdown_anyL_01" class="dropdown_anyL" style="display: none;">
                  <li><a href="#">Jaipur</a></li>
                  <li><a href="#">Kota</a></li>
                  <li><a href="#">Jaipur</a></li>
                  <li><a href="#">Kota</a></li>
                  <li><a href="#">Jaipur</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form_group">
              <label class="form_label">Stay Description</label>
              <input type="text" class="fuild_text" name="" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form_group">
              <label class="form_label">Activities</label>
              <input type="text" class="fuild_text" name="" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form_group">
              <label class="form_label">Categories</label>
              <div class="dropdown_select">
                <div id="select_any_02" class="select_any fuild_text">Select</div>
                <ul id="dropdown_anyL_02" class="dropdown_anyL" style="display: none;">
                  <li><a href="#">Jaipur</a></li>
                  <li><a href="#">Kota</a></li>
                  <li><a href="#">Jaipur</a></li>
                  <li><a href="#">Kota</a></li>
                  <li><a href="#">Jaipur</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form_group">
              <label class="form_label">Meals</label>
              <input type="text" class="fuild_text" name="" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form_group">
              <label class="form_label">Accomodation</label>
              <input type="text" class="fuild_text" name="" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form_group">
              <label class="form_label">Experience Type</label>
              <div class="dropdown_select">
                <div id="select_any_03" class="select_any fuild_text">Select</div>
                <ul id="dropdown_anyL_03" class="dropdown_anyL" style="display: none;">
                  <li><a href="#">Jaipur</a></li>
                  <li><a href="#">Kota</a></li>
                  <li><a href="#">Jaipur</a></li>
                  <li><a href="#">Kota</a></li>
                  <li><a href="#">Jaipur</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form_group">
              <label class="form_label">Location</label>
              <textarea class="fuild_text textarea_fuild"></textarea>
            </div>
          </div>
          <div class="col-md-4">
            <label class="form_label"></label>
            <div class="form_group">
              <div class="lisiting_genral_checklist">
                <ul class="list">
                  <li class="list__item">
                    <div class="list-check-box">
                      <input type="checkbox" id="test136" name="radio-group-four">
                      <label for="test136" class="label">Exclusive</label>
                    </div>
                  </li>
                  <li class="list__item">
                    <div class="list-check-box">
                      <input type="checkbox" id="test137" name="radio-group-four">
                      <label for="test137" class="label">Accomodation</label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form_group">
              <div class="custom_browese">
                <div class="uploadimg">
                  <div class="input-file-container">
                    <input class="input-file" id="my-file" type="file">
                    <label tabindex="0" for="my-file" class="input-file-trigger">Select a file...</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="tabs_sec_perent common_padding_shadow small_margin_top">
            <div class="header_columan only_comm_padding border_bottom_only">
              <div class="row">
                <div class="col-md-6">
                  <h6 class="second_main_title">New Users</h6>
                </div>
                <div class="col-md-6">
                  <div class="tabside">
                    <nav>
                      <ul class="tabbutt nav" id="nav-tab" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                            aria-controls="nav-home" aria-selected="true">Today</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                            aria-controls="nav-profile" aria-selected="false">Month</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
            <div class="after_header_commsec only_comm_padding">
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <p>
                    Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat
                    veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim.
                    Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim
                    non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor
                    ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore.
                    Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.</p>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                  <p>Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud
                    minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor
                    dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do
                    dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="tabs_sec_perent common_padding_shadow small_margin_top">
            <div class="header_columan only_comm_padding border_bottom_only">
              <div class="row">
                <div class="col-md-12">
                  <h6 class="second_main_title">Best Sellers</h6>
                </div>
              </div>
            </div>
            <div class="after_header_commsec only_comm_padding">
              <p>
                Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat
                veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit
                non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim
                occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit.
                Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit
                occaecat anim ullamco ad duis occaecat ex.</p>
              <p>Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim
                non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum
                in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis
                reprehenderit occaecat anim ullamco ad duis occaecat ex.</p>
              <button class="btn btn-primary btn_blue small_margin_top">Read More..</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--END work space-->